<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="head">
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <link id="background"/>
    </head>
    <body id="body">
        <center>
            <ul class="menu">
                <li id="index">
                    <a href="index.html">Accueil</a>
                </li>
                <li id="search">
                    <a href="search.html">Recherche</a>
                </li>
                <li id="visual">
                    <a href="visual.html">Rendu graphique</a>
                </li>
            </ul>
            </center>
        <div id="content" class="container"/>
    </body>
</html>